* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}


.cabecario {
    display:flex;
    flex-direction: row;
    max-width: 1024px;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px 0px; 
}

.cabecario .item1 a {
    color:black;
}


.cabecario .item1 span {
    color:rgba(0, 60, 255, 0.603);
}

.cabecario .item2 a{
    color:black;
    text-transform: uppercase;
}

.cabecario .item2 a + a{
    margin-left: 15px;
}

.titulo-img {
    background-image: url("../img/img-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

.titulo-img .titulo-descricao {
    color: #fff;
    font-size: 28px;
    background-color: #0a9077b3;
    border: 1px solid;
    padding: 15px 20px;
    border-radius: 4px;
    text-align: center;
    height: 150px;

}

.titulo-img .titulo-descricao p{
    margin-top: 20px;
    font-size: 20px;
}

.conteiner {
    background-color: blue;
    display:flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    
}


